/* 더 작은 구간이 우선순위가 높아지려면 밑에 적어야함 */
/* 600이하일때는 그린 */
@media (max-width:600px){
    body{
        background-color: green;
    }
}
/* 500이하일때는 레드 */
@media (max-width:500px){
    body{
        background-color: red;
    }
}
/* 601이상일때는 블루 */
@media (min-width:601px){
    body{
        background-color: blue;
    }
}