body{
    background-color: black;
    transition:all 1s;
}
div{
    background-color: black;
    color:white;
    padding:10px;
    width:100px;
    height: 50px;
    /* height를 1초동안 효과를 준다 */
    transition:height 1s;
    /* 기본값은 ease */
    transition-timing-function:linear;
}
div:hover{
    height: 400px;
}