.container{
    display:flex;
    flex-direction:column;
}
header{
    border-bottom:1px solid gray;
    padding-left:20px;
}
footer{
    border-top:1px solid gray;
    padding:20px;
    text-align: center;
}
.content{
    display:flex;
}
.content nav{
    border-right: 1px solid gray;
}
.content aside{
    border-left: 1px solid gray;
}
/* 모바일환경에서 너비가 500px이하이면 컬럼으로 바꾸고
테두리 선을 없애고, 우선순위를 바꾼다. */
@media(max-width:500px){
    .content{
        flex-direction: column;
    }
    .content nav, .content aside{
        border: none;
        flex-basis:auto;
    }
    main{
        order:0;
    }
    nav{
        order:1;
    }
    aside{
        order:2;
    }
}
nav, aside{
    flex-basis:150px;
    flex-shrink:0;
}
main{
    padding:10px;
}