html{
    border:1px solid gray;
}
div{
    border:5px solid tomato;
    margin:10px;
}
#me{
    /* 그냥 left, top 오프셋을 설정 하면 이동이 안되고 
    position:relative;를 사용하면 상대적 이게 이동이 가능하다. */
    position:relative;
    /* static은 정적이기에 디폴트값이다. */
    /* position:static; */
    /* 위치는 밑에 있는 순서대로 우선순위임 */
    left:100px;
    right:100px;
    top:100px;
    bottom:100px;
}