.column{
    text-align: justify;
    /* 컬럼 문단 */
    column-count:4;
    /* 컬럼 간격 */
    /* column-width: 200px; */
    /* 컬럼간격 */
    column-gap: 30px;
    /* 컬럼 모양 */
    column-rule-style: dashed;
    /* 컬럼 크기 */
    column-rule-width:1px;
    /* 컬럼 색 */
    column-rule-color: red;
}
h1{
    /* 컬럼 중간에 강조표시 */
    column-span:all;
}