/*
li{color:red;}
h1{color:red;}
*/
html{color:red;}
/*부모html을 상속받아 모두 적용된다.*/
#select{color:black;}
body{border: 1px solid red;}
/*body의 자식들이 모두 border에 영향을 받아야 하지만 그렇지 않다.
왜냐하면 border는 상속을 지원하지 않기 때문이다.*/