img{
    /* 효과가 서서히 나타나고 사라짐 */
    transition:all 1s;
}
/* hover 이미지에 마우스를 올려두면 효과가 나옴 */
img:hover{
    /* 필터의 효과를 얼마나 줄지 결정 */
    -webkit-filter:grayscale(100%) blur(3px);
    -o-filter: grayscale(100%)blur(3px);
    filter:grayscale(100%)blur(3px);
}
h2{
    /* 모자이크같은 효과를 줌 */
    -webkit-filter:blur(3px);
    -o-filter: blur(3px);
    filter:blur(3px);
}