/* 테두리를 기준으로 박스를 사이징 */
*{
    box-sizing:border-box;
}
.container{
    width:540px;
    border:1px solid gray;
    margin:auto;
}
header{
    border-bottom: 1px solid gray;
}
nav{
    float:left;
    width: 120px;
    border-right:1px solid gray;
}
article{
    float:left;
    width:300px;
    border-left:1px solid gray;
    border-right:1px solid gray;
    margin-left:-1px;
}
aside{
    float:left;
    width: 120px;
    border-left:1px solid gray;
    margin-left:-1px;
}
footer{
    clear:both;
    border-top:1px solid gray;
    text-align: center;
    padding:20px
}